<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
    
      <div class='row add-user-parent'>
          <div class="add-user">
              <button type="button" [routerLink]="['../add']" class="btn btn-primary">Add User</button>
            </div>
      </div>

      <div class='table-responsive'>
        <table class='table' *ngIf='users && users.length'>
          <thead>
            <tr>
                <th>S.No.</th>
                <th>Img</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Company</th>
                <th>Email</th>
                <th>Age</th>
                <th></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of users;let i = index;'>
                <td> {{i+1}}. </td>
              <td>
                <img [src]='user.picture'>
              </td>
                <td>{{ user.name }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.company | lowercase}}</td>
                <td>{{ user.email | uppercase}}</td>
                <td>{{ user.age }}</td>
                <td><button [routerLink]="['../edit',user._id]" type="button" class="btn btn-warning">Edit</button></td>
                <td><button (click)="openPopUp(user._id)" type="button" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
  <app-popup *ngIf="openUserPopUp" (esc)="closePopup()" [header]="'Delete User'" (onClose)="closePopup()"
  class="popup-container" i18n-header>
  <div body>
      <span>Are you sure. You want to delete this user?</span>
  </div>
  <div footer>
    <div class="submit-btn df-jc">
      <button type="button" class="btn btn-secondary mg-rt-10" (click)="closePopup()">No</button>
      <button type="button" class="btn btn-success" (click)="deleteUser()">
        Yes
      </button>
    </div>
  </div>
</app-popup>