.add-user-parent{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}
.df-jc{
    display: flex;
    justify-content: space-between;
}
.submit-btn{
    min-width: 130px;
}