<div>
    <div>
      <button type="button" class="btn btn-primary" [routerLink]="['list']">Goto Home</button>
    </div>
    <div class="form-container" *ngIf="userForm">
      <span class="edit-text"> Add User</span>
      <form [formGroup]="userForm" class="fancy-form">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" formControlName="name" placeholder="Enter Name">
        <span class="error" *ngIf="userForm.controls.name.touched && userForm.controls.name.invalid"> Please Fill the required fields.<br/></span>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email" placeholder="Enter Email">
        <span class="error" *ngIf="userForm.controls.email.touched && userForm.controls.email.invalid"> Please Fill the required fields.<br/></span>
        <label for="phone">Phone</label>
        <input type="phone" id="phone" name="phone" formControlName="phone" placeholder="Enter phone">
        <span class="error" *ngIf="userForm.controls.phone.touched && userForm.controls.phone.invalid"> Please Fill the required fields.<br/></span>
        <label for="age">Age</label>
        <input type="number" id="age" name="age" formControlName="age" placeholder="Enter age">
        <span class="error" *ngIf="userForm.controls.age.touched && userForm.controls.age.invalid"> Please Fill the required fields.<br/></span>
        <label for="fname">Company Name</label>
        <input type="text" id="fname" name="firstname" formControlName="company" placeholder="Enter Name">
        <span class="error" *ngIf="userForm.controls.company.touched && userForm.controls.company.invalid"> Please Fill the required fields.<br/></span>
        <label for="gender">Gender</label>
        <select id="gender" name="gender" formControlName="gender">
          <option value="" disabled selected hidden>Choose</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <span class="error" *ngIf="userForm.controls.gender.touched && userForm.controls.gender.invalid"> Please Fill the required fields.<br/></span>
        <label for="about">About:</label>
        <textarea id="about" formControlName="about" placeholder="Enter About user" name="about" rows="4" cols="50">
              </textarea>
        <span class="error" *ngIf="userForm.controls.about.touched && userForm.controls.about.invalid"> Please Fill the required fields.<br/></span>
        <label for="friends">Friends</label>
        <!-- <input type="text" id="fname" name="firstname" formControlName="name" placeholder="Enter name"> -->
        <ng-container  formArrayName="friendsArray"
          *ngFor="let item of userForm.get('friendsArray')['controls']; let i = index;let last = last">
          <div class="col-12 df-jf-c mg-pd-0" [formGroupName]="i">
            <div class="mg-pd-0 col-10">
              <input type="text" id="fname" name="firstname" formControlName="name" placeholder="Enter name">
              <span class="error" *ngIf="userForm.get('friendsArray')['controls'][i].controls.name.touched && userForm.get('friendsArray')['controls'][i].controls.name.invalid"> Please Fill the required fields.<br/></span>
            </div>
            <img class="col-2 icons" *ngIf="last" (click)="addNewFriend()" src="assets/add_black_24dp.svg">
            <img class="col-2 icons" *ngIf="!last" (click)="deleteFriend(i)" src="assets/delete_black_24dp.svg">
          </div>
          <!-- <span class="col-2" *ngIf="last" (click)="addNewFriend()">Add more </span> -->
        </ng-container>
      </form>
      <div class="submit-btn">
        <button type="button" class="btn btn-success" (click)="addUser()">
          Add
        </button>
      </div>
    </div>
  </div>
  