.add-user{
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: flex-end;
    justify-content: flex-end;
    /* border: solid; */
    width: 100%;
}

input[type=text], select, input[type=number], input[type=phone], input[type=email],textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .form-container{
      display: flex;
      flex-direction: column;
      padding: 30px;
      margin: 0 auto;
      width: 60%;
      border: solid 1px #ccc;
  }
  .edit-text{
    display: flex;
    justify-content: center;
    background: white;
    padding: 10px;
  }
  .df-jf-c{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons{
      height: 50px;
      width: 50px;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
.mg-pd-0{
    margin: 0px;
    padding: 0px;
}
  .submit-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .mg-rt-10{
      margin-right: 10px;;
  }
  .error{
    color: red;
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    .form-container {
      width: 100%;
    }
  }